<!DOCTYPE html>
<html class="light">

<head lang="en">
    <meta charset="utf-8">
    <title>COMP5347_Assignment2_Group32</title>
    <link rel="stylesheet" href="css/main.css"/>
    <script type='text/javascript'>
        const products = <%- JSON.stringify(doc) %>
            console.log("Loading phones")
    </script>
    <script type='text/javascript'>
        const sellers = <%- JSON.stringify(users) %>
            console.log("Loading sellers")
    </script>
    <script type='text/javascript'>
        const user = <%- JSON.stringify(user) %>
            console.log("Loading user data")
    </script>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--    <script type="text/javascript">const axios ="http://ldy2.zaoliedu.com/jquery1.12.4.js";</script>-->
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body onload="onLoad()" id="body">


<form method="get" action="">


    <div id="div_verytop">
        <a id="theme_toggle" href="javascript:void(0)" onclick="theme_toggle()">Turn off the light</a>
        <p id="login_toggle">login_toggle</p>
    </div>

    <p id="website_name">John Doe's Phone Store</p>


    <div id="searchBox">
        <div id="div_search">
            <input type="text" id="inputBox_search" autocomplete="on">
            <select id="list_select" value="All Brands">
                <input id="range_slider" type="range" min="1" max="1000" value="1000" class="slider">
                <a id="range_slider_value" onclick="theme_toggle()">MAXVALUE</a>
                <input type="button" id="btn_search" value="Search"/>
                <input type="button" id="btn_reset_search" value="Reset Search and Filter"
                       onclick="reset_search()"/>

            </select>

        </div>
        <div id="div_cart">
            <input type="button" id="btn_checkout" value="Checkout" onclick="checkout()"/>
            <img src="img/shopping_cart.png" onclick="displayDate()"
                 onClick="onCartClicked()" width="5%" height="auto"/>
            <b id="cart_qty">QTY</b>
        </div>
        <div class="slide_container">

        </div>
    </div>

    <div id="HomeState" class="row">
        <div>
            <h2>Sold Out Soon</h2>
            <table id="table_soldOutSoon" border="1">
                <thead>
                <th>Image</th>
                <th>Price</th>
                <th>Title</th>
                <th style="visibility:collapse;display:none;">ID</th>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                </tbody>
            </table>
        </div>

        <div>
            <h2>Best Sellers</h2>
            <table id="table_bestSeller" title="Best Sellers" border="1">
                <thead>
                <th>Image</th>
                <th>Rating</th>
                <th>Title</th>
                <th style="visibility:collapse;display:none;">ID</th>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div id="listBox">
        <table class="table_sort" id="table_books" border="1">

            <thead>
            <th>Image</th>
            <th>Title</th>
            <th>Brand</th>
            <th>Seller</th>
            <th>Price</th>
            <th>Stock</th>
            <th style="visibility:collapse;">ID</th>
            </thead>
            <tfoot>

            </tfoot>
            <tbody>
            <!--            <% for(var i = 0; i < doc.length; i++) { %>-->
            <!--                <tr>-->
            <!--                    <th><input type="checkbox"></th>-->
            <!--                    <th></th>-->
            <!--                    <th><%= doc[i].title %></th>-->
            <!--                    <th><%= doc[i].brand %></th>-->
            <!--                    <th><%= doc[i].seller %></th>-->
            <!--                    <th><%= doc[i].price %></th>-->
            <!--                    <th><%= doc[i].stock %></th>-->
            <!--                </tr>-->
            <!--            <% } %>-->
            </tbody>
        </table>
    </div>
</form>

<div id="loginDialog" class="loginDialog" style="display: none">
    <div class="loginDialogOuter">
        <div class="loginDialogMiddle">
            <div class="loginDialogInner">
                <h1>LOGIN</h1>
                <form id="dialog_login_form">
                    E-mail: <input id='dialog_login_email' name="email" type="text"><br>
                    Password: <input id='dialog_login_password' name="password" type="password"><br>
                    <button onclick="dialog_login_btn_OnClick();return false;">Submit</button>
                    <!--                    <input type="submit" value="Open results in a new window">-->
                </form>
                <br>
                <!--            <a href="index.html">Return to index page.</a><br>-->
                <a href="sign_up.html" style="vertical-align: center">Sign Up</a><br><br>
                <a id="loginDialog_close" href="javascript:void(0)" onclick="closeLoginDialog()">Close This Window</a>
                <!--                <script src="/socket.io/socket.io.js"></script>-->
                <!--                <script>-->
                <!--                    let socket = io.connect('http://localhost');-->
                <!--                    socket.on('for_client', function (data) {-->
                <!--                        console.log(data);-->
                <!--                        socket.emit('for_server', { data: 'data' });-->
                <!--                    });-->
                <!--                </script>-->
            </div>
        </div>
    </div>
</div>

<div id="productDialog" class="productDialog" style="display: none">
    <div class="productDialogOuter">
        <div class="productDialogMiddle">
            <div class="productDialogInner">
                <h2 id="productDialog_title">Product details</h2>
                <div id="productDialog_div1" style="width: 70%; display: inline-block">
                    <div class="row">
                        <div style=" float:left;margin-left: 20%">
                            <img id="productDialog_img" style="width: 100pt">
                        </div>
                        <div style="float:right">
                            <table id="table_productInfo" style="">
                                <tr>
                                    <th>Brand:</th>
                                    <td id="table_productInfo_brand"></td>
                                </tr>
                                <tr>
                                    <th>Seller:</th>
                                    <td id="table_productInfo_seller"></td>
                                </tr>
                                <tr>
                                    <th>Price:</th>
                                    <td id="table_productInfo_price"></td>
                                </tr>
                                <tr>
                                    <th>Stock:</th>
                                    <td id="table_productInfo_stock"></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>
                                        <button id="btn_add_to_cart">Add to Cart!</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <table id="table_productReviews" style="width: 70%; display: inline-block" border="1">
                        <thead>
                        <th>Reviewer</th>
                        <th>Rating</th>
                        <th>Comment</th>
                        </thead>
                        <tfoot>
                        </tfoot>
                        <tbody>
                        </tbody>
                    </table>
                    <a style="display: none" id="productDialog_ShowMoreReviews" href="javascript:void(0)">See More
                        reviews</a>
                </div>


            </div>
        </div>
    </div>
</div>

</body>
</html>